---
comments: true
tags:
  - cookie
  - bar
  - dessert
---
{{ template "cook.headerSection" . }}

{{ template "cook.imageSection" . }}

{{ template "cook.tableSection" . }}

{{ template "cook.ingredientsSection" . }}

{{ template "cook.cookwareSection" . }}

{{ template "cook.stepsSection" . -}}

{{ template "cook.sourceSection" . }}
