---
name: ci
on:  # yamllint disable-line rule:truthy
  push:
    paths:
      - 'docs/**'
      - 'mkdocs.**'
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout main
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Set up build cache
        uses: actions/cache@v4
        id: cache
        with:
          key: ${{ runner.os }}-${{ hashFiles('.cache/**') }}
          path: .cache

      - name: Install mkdocs-material
        run: |
          pip install \
            mkdocs-material \
            mkdocs-minify-plugin \
            mkdocs-redirects \
            mkdocs-git-committers-plugin-2 \
            mkdocs-git-revision-date-localized-plugin \
            neoteroi-mkdocs

      - name: Deploy mkdocs
        run: |
          mkdocs gh-deploy --force
          mkdocs --version
